.section-advantages{
    padding-bottom: 0;
}
.advantages {
    display: flex;
}
.advantages-list{
    flex-basis: calc((100% - 90px) / 4);
}
.advantages-list:not(:last-child){
    margin-right: 30px;
}
.adv-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-buttons-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.advantages-title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-text {
line-height: 1.71;
color: var(--secondary-color);

}