.section-advantages{
    padding-bottom: 0;
}
.advantages {
    display: flex;
}
.advantages__item{
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child){
    margin-right: 30px;
    }
}

.advantages__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-buttons-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.advantages__title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages__text {
line-height: 1.71;
color: var(--secondary-color);

}